
<div class="container text-center">
<%= simple_form_for :search,  url: search_path , :method => :get do |f| %>
    <%= f.input :city, :autofocus => true %>
    <%= f.submit "Search", class:"btn btn-primary" %>
<% end %>

<ul>
 <% @kitchens.each do |kitchen| %>
    <li><%= kitchen.name %>, <%= kitchen.description  %></li>
 <% end %>
</ul>  
</div>